.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  background-color: rgb(149, 193, 221);
}

.mainContent {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

}

.read--button {
  margin: 10px;
}

.create--button {
  margin: 10px;
}

.getquery--button {
  margin: 10px;
}

.getpathquery--button {
  margin: 10px;
}

.getpostquery--button {
  margin: 10px;
}

.put--button {
  margin: 10px;
}

.partial--button {
  margin: 10px;
}

.error--button {
  margin:10px;
}